@implements ISiteMapConsumer
@implements IDisposable

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@if (HasEntries)
{
    @foreach (SiteMapEntry entry in DataSource!)
    {
        <p>@entry.Title</p>
    }
}
else
{
    <div>No site map entries</div>
}

@code {
    private ISiteMapDataSource? _dataProvider;

    [Parameter]
    public IEnumerable<SiteMapEntry>? DataSource { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool HasEntries => DataSource?.Any() == true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // check on startup if we have data to show...
        if (firstRender)
            await UpdateSiteMapAsync();
    }

    public void SetDataSource(ISiteMapDataSource dataSource)
    {
        _dataProvider = dataSource;
        _dataProvider.DataSourceChanged += OnDataSourceChanged;

        DataSource = new List<SiteMapEntry>(_dataProvider.Get());
    }

    private async void OnDataSourceChanged(object? sender, EventArgs e)
    {
        // handle changes
        await UpdateSiteMapAsync();
    }

    private async ValueTask UpdateSiteMapAsync()
    {
        if (HasEntries)
            await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (_dataProvider is null)
            return;

        _dataProvider.DataSourceChanged -= OnDataSourceChanged;
    }
}
